<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <th scope="row"></th>
        <td class="text-capitalize">{{item.name.firstname}} {{item.name.lastname}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td style="display: flex; flex-direction: column; align-items: flex-start;">
          <span>
            <b>City:</b>
            <span class="badge text-bg-primary"> {{item.address.city}} </span>
          </span>
          <span>
            <b>Street:</b>
            <span class="badge text-bg-secondary text-capitalize"> {{item.address.city}} {{item.address.street}}</span>
          </span>
          <span>
            <b>ZipCode:</b>
            <span class="badge text-bg-success"> {{item.address.zipcode}}</span>
          </span>
        </td>
        <td>{{item.phone}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="onSelectUser(item.id)">
            See Cart
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-md-cart-table [isModalOPen]="isOpenModal" (hideModal)="hideModal()" [cartUserList]="cartUserList"/>